/* 공통클래스 */
.d-flex {
  display: flex;
}

.abs {
  position: absolute;
}

.p-unset {
  position: unset !important;
}

.border {
  border: 1px solid white !important;
}

.w-auto {
  width: auto !important;
}


/* 중앙정렬 */
#mainBanner .btns {
  bottom: 2rem;
  left: 0;
  right: 0;
  justify-content: center;
  z-index: 10000;
  /*앞으로 보이기위해*/
  /* line-height: 2rem; 지워도됨 */

}


/* 배경처리 : 찌그러지지않게 처리하기 반응형 */
#mainBanner .swiper-slide {
  height: 0;
  /*반드시 넣어줘야함*/
  padding-top: 43%;
  /* width 100% 조건이 내장되어야 한다 */
  background-repeat: no-repeat;
  background-size: 100%;
}

.bg0 {
  background-image: url(https://www.cj.co.kr/cj_files/main/visual/202309/1693899949661_0.jpg);
}

.bg1 {
  background-image: url(https://www.cj.co.kr/cj_files/main/visual/201901/1546929273425_0.jpg);
}

.bg2 {
  background-image: url(https://www.cj.co.kr/cj_files/main/visual/201901/1546928897582_0.jpg);
}

.bg3 {
  background-image: url(https://www.cj.co.kr/cj_files/main/visual/202308/1692251347164_0.jpg);
}


/* toggle */

.toggle {
  background-color: transparent;
  width: 2rem;
  /*글자사이즈때문에 rem */
  height: 2rem;
  color: white;
  border-radius: 50%;
  font-size: 1.2em;
  /* 지금보다 커지고 싶을 때 나로부터 em */
}

#mainBanner .toggle.on::before {
  content: "\F4F4";
}



/* pagination 꾸미기 */

.swiper-pagination-bullets {
  margin-left: 14px;

}

#mainBanner .swiper-pagination {
  align-items: center;
  display: flex;
  /*inline block이 들어있어서 flex 추가 */
}

#mainBanner .swiper-pagination-bullet {
  border-radius: 0;
  width: 3rem;
  height: 8px;
  opacity: 1;
  margin: 0;
  position: relative;
  background-color: transparent;

}

.swiper-pagination-bullet::before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
}


#mainBanner .swiper-pagination-bullet-active {
  background-color: transparent;
}

#mainBanner .swiper-pagination-bullet-active::before {
  height: 3px;
}


/* 11번가 상위객체의 배경색 바꾸기 */
#mainBanner {
  width: 600px;
  margin: 0 auto;
}

.realIndex0 {
  background-color: red;
}

.realIndex1 {
  background-color: orange;
}

.realIndex2 {
  background-color: yellow;
}

.realIndex3 {
  background-color: green;
}

.realIndex4 {
  background-color: blue;
}